
<template>
  <div>
    <!-- TODO: add customer info as property -->
    <payment-element ref='payment' 
    token="eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiIsImtpZCI6Ik1rTTVRMEZFTmpVek5qZEZNelE0UlVJME9UZENORVl3UWtVMlFqUTRRMFV4UXpsRFJrRkdSUSJ9.eyJpc3MiOiJodHRwczovL2d0YXJhbmFzLmV1LmF1dGgwLmNvbS8iLCJzdWIiOiJGZ1ZQNnZPTkZXbDY0QnR6SGpaT3VLckN4RXBZV1JqTEBjbGllbnRzIiwiYXVkIjoiaHR0cDovL2xvY2FsaG9zdCIsImlhdCI6MTUzNzQ1MTcyNiwiZXhwIjoxNTM3NTM4MTI2LCJhenAiOiJGZ1ZQNnZPTkZXbDY0QnR6SGpaT3VLckN4RXBZV1JqTCIsImd0eSI6ImNsaWVudC1jcmVkZW50aWFscyJ9.gUYt2jzNCkI0DFi8i1Jgmjs-k-WIIvV6ygpPt80Q4kUXQYBnibFAoCYPnsZaurkBLmxINpZ0VKecD-lvLQndYOSYD6B_Wfg74KM_CInLG8Gk4Fm6NmTOiVvzFi93WqJORyJlbbG94zRjNMf4vcdyVISoEj7DgzLDT0YntQYEqzY8I19YTFNbJgWcXf8PpZ67OUELjWdJ4363mLPXV_fhsTR_mUfe4mtZAWVfZVi1Qn1ubwwlJIM9b4L8tkInl9P6BiwjdTUNwY4JeLvST6jOxJWycXVtD1gWm0bOGY8NvLZhw76Kjrm4y7y_IwMpHcDod3bIP2N8pBLJyR8mXQY3DA"
    debug="true" tenantid="123456789" mref="10082" ammount=".5" buttontext="Πληρωμή" transactionInterval="6000" @success="successCallback"  @fail="failCallback">
      <span slot="info"><h2>Pay with winbank</h2></span>
      <span slot="delayedResponse">There is no response from bank yet...</span>
      <span slot="success" class='success'>Success</span>
      <span slot="fail" class='fail'>Failed get <a href="#" @click="getInfo()">more</a> info</span>
    </payment-element>

    
  </div>
</template>

<script>
import Payment from './components/Payment.vue'


export default {
  name: 'app',
  components: {
    'payment-element': Payment
  },
  mounted() { 
        // var temp = document.querySelector("payment-element");
        // temp.vueComponent.init()
  },
  methods: {
      getInfo() {
        //var temp = document.querySelector("payment-element");
        this.$refs.payment.getTransactionInfo()
      },
      successCallback(args) {
        console.log('success callback', args)
      }, 
      failCallback(args) {
        console.log('fail callback', args)        
        // if (args.detail[0].code == 6) {
        //   var temp = document.querySelector("payment-element");
        //   temp.vueComponent.init()        
        // }
      },
      // mpayServer() {
      //   // this.$refs.paymentModule.payServer()
      //   // console.log('ok')
      // }
    }
}
</script>
